.catalogo {
  padding: 40px;
}

.productos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: #181818;
  padding: 15px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  border-radius: 6px;
}

.card h3 {
  margin: 10px 0 5px;
}

.precio {
  color: #aaa;
}
