* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #0f0f0f;
  color: #ffffff;
}

/* LINKS */
a {
  color: inherit;
  text-decoration: none;
}

/* BOTONES */
.btn {
  display: inline-block;
  padding: 12px 20px;
  background: #ffffff;
  color: #000;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: bold;
}
